p {
  text-align: center;
  margin: 10px 0px 0px 0px;
}

h1 {
  text-align: center;
}

div {
  background-color: white;
}

img {
  padding-right: 4px;
  padding-top: 10px;
}
 a:hover {
  opacity: 0.5;

 }
.democlass {
    visibility: hidden;
}